.DS_Store
go/bin/
go/pkg/
go/src/.terraform/
go/src/crash.log
go/src/github.com/golang/
go/src/github.com/hashicorp/
go/src/github.com/mitchellh/


*.pyc



go/src/golang.org/
go/src/google.golang.org/
go/src/terraform-provider-vcloud-director


plugin-python/__pycache__/
vcd.log
go/src/test/test
go/src/terraform.tfstate
go/src/terraform.tfstate.backup
.project
.pydevproject
